@charset "UTF-8";
@import 'https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Roboto&display=swap';
* {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  box-sizing: border-box;
}

.container {
  justify-content: space-between;
  margin: 0 auto;
  width: 1200px;
}
.container header {
  font-family: "Roboto Mono", monospace;
  background-color: #fff;
  align-items: center;
  margin-top: 10px;
}
.container header .home_ip {
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.container header .home_ip h1 {
  font-size: 22px;
  font-weight: 800;
}
.container header .home_ip p {
  font-size: 17px;
}

.home {
  align-items: center;
  margin-top: 2%;
  display: flex;
}
.home .text {
  margin-left: 1rem;
}
.home .text h1 {
  font-family: "Roboto Mono", monospace;
  font-weight: 900;
  margin-top: -2rem;
  margin-bottom: 1rem;
  font-size: 40px;
  width: 70%;
}

.text p {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 500;
  font-size: 24px;
  width: 70%;
}

.image img {
  width: 670px;
}

.ip_domain .ip_dns p {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
}
.ip_domain .input_search {
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
  display: flex;
  gap: 8px;
}

#ip_dnsSearch {
  padding: 10px 320px 10px 12px;
  border-color: #3f3d56b3;
  font-family: "Roboto Mono", sans-serif;
  border-style: solid;
  border-radius: 5px;
  border-width: 3px;
  font-weight: 700;
  font-size: 18px;
  color: #000;
}

#search {
  padding: 12px 40px 12px 40px;
  background-color: #1B9105;
  font-family: "Roboto Slab", sans-serif;
  border-style: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  color: #fff;
}
#search:hover {
  filter: brightness(0.8);
}
#search:active {
  transform: scale(0.9);
}

.result_ipcats {
  font-family: "Roboto Slab", sans-serif;
  margin-bottom: 4rem;
  align-items: center;
  text-align: center;
  margin-top: 4rem;
  display: flex;
}
.result_ipcats hr {
  border-bottom: 2.8rem;
  border-style: solid;
  border-top: 2.8rem;
}

.city_estate, .ips_domains, .continent, .país {
  margin: 0 auto;
}
.city_estate h1, .ips_domains h1, .continent h1, .país h1 {
  font-size: 25px;
}
.city_estate p, .ips_domains p, .continent p, .país p {
  font-size: 0.85rem;
  font-weight: 700;
  color: #403C3C;
}

#info, #pa {
  justify-content: center;
  display: flex;
}
#info span img, #pa span img {
  width: 38px;
  margin-right: 6px;
}

.container_map {
  margin: 0 auto;
  position: relative;
  height: 65vh;
  width: 75vw;
}
.container_map #map {
  margin-bottom: 5rem;
  margin-top: -3rem;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#noinput {
  text-align: left;
  margin-left: 20%;
  font-size: 20px;
  margin-top: 1%;
  margin-bottom: -3%;
  color: red;
}

@keyframes name {
  0% {
    padding-top: 40px;
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
